<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!--Connection to Database by Windows Authentication-->
		<!--Change the SERVER and DATABASE based on your setup-->

		<add name="DbConnection" connectionString="Data Source=localhost\SQLEXPRESS01;Initial Catalog=master;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=True;" providerName="System.Data.SqlClient"/>

		<!--Connection to Database by Username and Password-->
		<!--Change the USER ID and Password based on your setup-->
		<!--
      <add name="DbConnection"
        connectionString="Server=DESKTOP-G1TDAAT;Database=FinancingSystem;User Id=sa;Password=root;Trusted_Connection=True;"
        providerName="System.Data.SqlClient" />
        -->
	</connectionStrings>
</configuration>